[submodule "intro/projects/projects-py"]
	path = intro/projects/projects-py
	url = https://github.com/prateek-budhiraja/projects-py.git
[submodule "intro/projects/biased-dice"]
	path = intro/projects/biased-dice
	url = https://github.com/prateek-budhiraja/biased-dice.git
[submodule "intro/projects/rockPaperScissors-terminal"]
	path = intro/projects/rockPaperScissors-terminal
	url = https://github.com/prateek-budhiraja/rockPaperScissors-terminal.git
