[submodule "1-getting-started/projects/rockpaperscissors"]
	path = 1-getting-started/projects/rockpaperscissors
	url = https://github.com/prateek-budhiraja/rockPaperScissors-terminal.git
[submodule "1-getting-started/projects/project"]
	path = 1-getting-started/projects/project
	url = https://github.com/prateek-budhiraja/projects-py.git
[submodule "1-getting-started/projects/biaseddice"]
	path = 1-getting-started/projects/biaseddice
	url = https://github.com/prateek-budhiraja/biased-dice.git
